{% extends './bases/base_navs.html' %}

{% block body %}
<div style="margin-bottom: 10px; margin-top: -20px;">
    <div class="card">
        <div class="card-body justify-content-center align-items-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_añadir">
                <strong>Añadir Usuarios</strong>
            </button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <br />
            {% for message in messages %}
            <div class="alert alert-primary alert-dismissible" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <!-- Modal para Añadir -->
            <form action="{{ url_for('register') }}" method="POST" enctype="multipart/form-data">
                <div class="modal fade" id="modal_añadir" tabindex="-1" aria-labelledby="modal_añadirLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modal_añadirLabel">Añadir Usuarios</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="username">Usuario</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                        placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="confirm_password">Confirmar contraseña</label>
                                    <input type="password" class="form-control" name="confirm_password"
                                        placeholder="Confirm Password">
                                </div>
                                <div class="form-group">
                                    <label for="fullname">Nombre completo</label>
                                    <input type="text" class="form-control" name="fullname"
                                        placeholder="Nombre completo">
                                </div>
                                <div class="form-group">
                                    <label for="departamento_id">Departamento</label>
                                    <select class="form-control" id="departamento_id" name="departamento_id" required>
                                        <option value="">Seleccione un Departamento</option>
                                        {% for departamento in departamentos %}
                                        <option value="{{ departamento.id }}">{{ departamento.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</a>
                                <button type="submit" class="btn btn-success">Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div style="margin-bottom: 10px;">
    <div class="card">
        <div class="card-body justify-content-center align-items-center table-responsive">
            <h1 class="card-title"><strong>Usuarios registrados</strong></h1>
            <table class="table table-hover">
                <thead style="text-align: center;">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Departamento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.fullname}}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ departamento_dict[user.departamento_id]|default('Sin asignar') }}</td>
                        <td style="text-align: center; align-items: center;">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Acciones
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#modal_editar"
                                            onclick="loadData('{{ user.id }}')">Actualizar</button>
                                    </li>
                                    <li>
                                         <form action="{{ url_for('delete_user', id=user.id) }}" method="POST">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <button type="submit" class="dropdown-item">Eliminar</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (window.jQuery && window.jQuery.fn && window.jQuery.fn.DataTable) {
            $('.table-hover').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json'
                },
                pageLength: 10,
                lengthChange: false
            });
        }
    });
</script>

<!-- Modal para Editar -->
<form action="{{ url_for('update_profile') }}" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="modal_editar" tabindex="-1" aria-labelledby="modal_editarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_editarLabel">Editar Usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="edit_id" name="id">
                    <div class="form-group">
                        <label for="edit_username">Usuario</label>
                        <input type="text" class="form-control" id="edit_username" name="username" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="edit_password">Contraseña</label>
                        <input type="password" class="form-control" id="edit_password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="edit_confirm_password">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="edit_confirm_password" name="confirm_password">
                    </div>
                    <div class="form-group">
                        <label for="edit_fullname">Nombre completo</label>
                        <input type="text" class="form-control" id="edit_fullname" name="fullname" placeholder="Nombre completo">
                    </div>
                    <div class="form-group">
                        <label for="edit_departamento_id">Departamento</label>
                        <select class="form-control" id="edit_departamento_id" name="departamento_id" required>
                            <option value="">Seleccione un Departamento</option>
                            {% for departamento in departamentos %}
                            <option value="{{ departamento.id }}">{{ departamento.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</a>
                    <button type="submit" class="btn btn-success">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function loadData(id) {
        fetch(`/create_users/${id}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('edit_id').value = data.id;
                document.getElementById('edit_username').value = data.username;
                document.getElementById('edit_fullname').value = data.fullname;
                document.getElementById('edit_departamento_id').value = data.departamento_id;
            });
    }
</script>
{% endblock %}